<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
</head>
<body>
    <div class="container">
        <div class="notification">
            Hello, new user <strong>Signup</strong> to get started :)
        </div>
        <% if (errors.length > 0) { %>
            <div class="notification">
            <% _.forEach(errors, function(error) { %>
                <strong><%= error %> </string></br>
            <% }) %>
            </div>
        <% } %>
        <form action="/login" method="post">

            <div class="a-form" > 
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" name="email" type="email" placeholder="e.g. alexsmith@gmail.com">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" name="password" type="password" placeholder="Password">
                    </div>
                </div>

                <p class="control">
                    <input class="button is-primary" type="submit"></input>
                </p>
            </div>

        </form>
    </div>
</body>
</html>

<style>
    .a-form {
        width: 200px;
        /* display: flex; */
        /* justify-content: center; */
    }
</style>